@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  gap: 7.375rem;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 62.9vh;
  background: url("../images/background-image.png") no-repeat, radial-gradient(circle,#06161d, #000000);
  border-bottom: 1px solid #33A8DB;
  padding-bottom: 4.0625rem;
}

.banner-content {
  width: 51vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.logo {
  margin-top: 6vh;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 2.935rem;
  background: linear-gradient(to bottom,#2b8fb9, #1472B7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 + p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.468rem;
  text-align: center;
  color: #FFF;
}

p + button {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.14rem;
  line-height: 1.174rem;
  text-align: center;
  color: #31A8DD;
  width: 32.6vh;
  height: 5.7vh;
  background-color: transparent;
  border-width: 0.125rem;
  border-image: linear-gradient(to bottom,#2b8fb9, #1472B7) 1;
}

#course-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

#course-content h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.348125rem;
  text-transform: uppercase;
  color: #33A8DB;
}

#course-content h2 + p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.17375rem;
  text-align: center;
  color: #FFF;
}

#course-content p {
  width: 50rem;
}

.modules-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.module {
  padding: 1rem 7.9375rem;
  background-color: #252525;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.17375rem;
  color: #FFF;
  border-radius: 3.5625rem;
}

.module span {
  color: #33A8DB;
}
